/* import fonts */
@font-face {
    font-family: Rubik;
    src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

/* main style */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,a,img,span,.carousel-container,.services-number,.pricing-card .header,.sections-header{
    user-select: none
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 100vh;
    z-index: 99999;
}

  button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #FFF;
    line-height: 50px;
    text-decoration: none;
 }

 button a:hover {
    color: #47ea4e;
 } 
/* Start Home style */
.home-section {
    position: absolute;
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
    z-index: -1;
    background-image: url('../media/images/home__background.jpg');
    background-position: center;
    background-size: cover;
}

.home-section .slide-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2em;
    z-index: 999;
    /*order:;
    3,value0-3*/
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.home-section .slide-wrapper h1 {
    padding: 10px;
    padding-bottom: 30px;
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 1.2;
}

button.green-button {
    height: 55px;
    width: 183px;
    margin-top: 30px;
    margin-left: 10px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #47ea4e;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    cursor: pointer;
    border-radius: 50px;
    transition: all 300ms linear;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

button.green-button:hover {
    background-color: transparent;
    border-color: #47ea4e;
    color: #47ea4e;
}

/* Start Main styles */
main {
    position: relative;
    z-index: 1;
}

/* services style */
.sections-header {
    width: 340px;
    height: 70px;
    text-align: center;
    background-color: #47ea4e;
    color: #FFF;
    position: relative;
    z-index: 0;
}

.sections-header::after {
    content: "";
    height: 70px;
    width: 70px;
    background-color: #47ea4e;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) skew(-15deg);
    -webkit-transform: translateX(50%) skew(-15deg);
    -moz-transform: translateX(50%) skew(-15deg);
    -ms-transform: translateX(50%) skew(-15deg);
    -o-transform: translateX(50%) skew(-15deg);
}

.sections-header .header {
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 6px;
}

/* services content wrapper */
.content-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding: 50px 0;
}

.content-wrapper .service-holder {
    width: 300px;
    text-align: center;

}

.content-wrapper .service-holder h4 {
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    line-height: 110%;
    padding-bottom: 20px;
}

.content-wrapper .service-holder .text {
    margin-bottom: 13px;
    padding-bottom: 10px;
    line-height: 35px;
    font-weight: 400;
    color: #747474;
    font-size: 1em;
    text-align: center;

}

.services-number {
    height: 190px;
    font-size: 264px;
    font-weight: 700;
    color: #000;
    overflow: hidden;
    text-shadow: -1px 0 #fffbd5, 0 1px #47ea4e, 1px 0 #fffbd5, 0 -1px #47ea4e;
}

.show-more-button {
    user-select: none;
    position: relative;
    display: inline-block;
    width: 172px;
    font-size: 16px;
    color: #fff;
    margin: 30px 0px 30px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.show-more-button::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 90%;
    position: absolute;
    left: 0;
    top: -18px;
    transition: .3s;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.show-more-button:hover::before {
    width: calc(100% - 30px);
    height: 51px;
    border-radius: 50px;
    top: -18px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.show-more-button span {
    display: inline-block;
    margin-left: 50px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.show-more-button:hover span {
    margin-left: -20px;
}

/* about section style */
.about {
    background-color: #fff;
    min-height: 100vh;
    color: #000;
}

.section-about-top {
    padding: 20px 0 0px;
}

.about-content-wrapper {
    display: flex;
    justify-content: space-around;
}

.about .about-content {
    width: 40%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.about .about-content .title {
    padding: 15px 0;
    font-size: 16px;
    letter-spacing: 2px;
}

.about .about-header {
    padding: 20px 0;
    margin: 0px 0px 20px;
    font-size: 60px;
    font-weight: 700;
}

.about .about-content .about-text {
    margin-bottom: 13px;
    padding-bottom: 10px;
    line-height: 35px;
    font-weight: 400;
    color: #747474;
    font-size: 16px;
}

.about .about-content .title,
.about .about-content .about-text {
    color: #747474;
}

.about .about-image {
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;

}

.about .about-image img {
    width: 100%;
}

/* about > carousel  */
.carousel-container {
    width: 100%;
    height: 108vh;
    padding: 20px 0;
    margin: 20px 0 0;
    background-color: #000;
    /* background-image: url('../media/images/quote_image_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    top: 50%;
    height: auto;
    min-height: 250px;
    padding-top: 5%;
    margin: auto;
    transform: translateY(-50%);
    background-color: #000000;
    overflow: hidden;
}

.carousel-image-container {
    width: 70%;
    min-width: 290px;
    margin: auto;
}

.carousel-qouteImage {
    display: block;
    width: 60px;
}

.carousel-card-container {
    width: 70%;
    min-width: 290px;
    height: auto;
    margin: 30px auto;
    border-radius: 9px;
    color: #c7c7c7;
    background-color: #111;
    position: relative;
    display: flex;
    justify-content: space-around;

}

.carousel-card {
    min-width: 100%;
    height: 100%;
    padding: 75px;
    margin: 0 10%;
    line-height: 170%;
    transition: all 500ms ease;
}

.carousel-card .text {
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
}

.carousel-card .text,
.about-card-data {
    width: 100%;
    min-width: 290px;
    /* margin: auto; */
}

.about-card-data {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.about-card-data p {
    display: inline-block;
    padding: 0 5%;
}

.about-card-data img {
    border-radius: 50%;
}

.about-card-data .about-card-name {
    font-size: 16px;
    text-transform: capitalize;
}

.about-card-data .about-card-position {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.carousel-controller {
    display: inline-block;
    /* width: 20px; */
    height: 20px;
    position: relative;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
    color: #c7c7c7;
}

.carousel-controller span {
    display: inline-block;
    padding: 0 35px;
    font-size: 61px;
    font-weight: 800;
    cursor: pointer;
}

/* end about style */

/* start news style */
.news {
    background-color: #fff;
    color: #333;
}

.news .content-wrapper {
    width: 90%;
    margin: 20px auto 0;
    padding: 60px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news .content-wrapper .card {
    width: 30%;
}


.news .card-img {
    height: 500px;
    ;
    margin-bottom: 30px;
    overflow: hidden;
}

.card-img a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

}


.news .card-img a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    user-select: none;
}

.news .card-img img {
    width: 100%;
    height: 500px;
    transition: all 300ms linear;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.news .card-img:hover a::after {
    opacity: 0.1;
}


.news .card-img:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.news .card-header a {
    color: #000;
    text-decoration: none;
}

.news .card-header h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0 20px;
    text-transform: capitalize;
}

.news .card-title {
    color: #747474;
}

.news .card-title p {
    font-size: 1.1em;
    line-height: 140%;
    font-weight: 400;
}

.go-to-blog {
    padding: 0 0 120px;
    margin-top: -20px;
    text-align: center
}

.portfolio {
    margin: auto;
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    min-height: 6vh;
    height: 105vh;
    background-color: #fff;
}


.portfolio .sections-header {
    position: absolute;
    top: 0;
    z-index: 9;
}

.portfolio-content-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.portfolio-card {
    position: relative;
}

.portfolio-card img {
    display: block;
    width: 100%;
    height: 100%;
}

.card-20 {
    width: 25%;
}

.card-30 {
    width: 29%;
}

.card-50 {
    width: 46%;
}

.special-portfolio-card {
    display: flex;
    flex-direction: column;
}

.special-portfolio-card .portfolio-card {
    width: 100%;
    height: 50%;
}

.portfolio-card .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0;
    cursor: pointer;
    background-color: #000;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}

.portfolio-card:hover:not(.special-portfolio-card) .overlay,
.special-portfolio-card .portfolio-card:hover .overlay {
    height: 100%;
}

.portfolio-card p {
    display: none;
    position: absolute;
    bottom: 15%;
    left: 10%;
    transform: translate(50%, 60%);
    font-size: 1.7em;
    text-transform: capitalize;
    -webkit-transform: translate(50%, 60%);
    -moz-transform: translate(50%, 60%);
    -ms-transform: translate(50%, 60%);
    -o-transform: translate(50%, 60%);
}

.portfolio-card:hover:not(.special-portfolio-card) .overlay p {
    display: block;
}

.portfolio-dynamic-data {
    display: none;
    position: relative;
    width: 80%;
    min-width: 290px;
    margin: auto;
}

.portfolio-dynamic-data>img {
    max-width: 100%;
    padding-top: 20px;
}

.portfolio-dynamic-data img {
    display: block;
}

.portfolio-dynamic-data h3 {
    color: #000;
    text-align: center;
    font-size: 40px;
    padding: 107px 0 35px;
    /* font-weight: 500; */
}

.portfolio-dynamic-data .arrow {
    position: absolute;
    top: 80px;
    left: 1%;
    color: #000;
    cursor: pointer;
    transition: all 250ms 
}

.portfolio-dynamic-data .arrow:hover {
    transform: translateX(-10px);
}

.portfolio-dynamic-data .data-container-50 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-dynamic-data .data-container-50 p {
    color: #747474;
    line-height: 1.8;
    width: 45%;
    min-width: 300px;
    padding: 21px 0;
    /* margin: 15px; */
    font-size: 20px;
}

.portfolio-dynamic-data .data-container-50 img {
    padding: 0;
    margin: 0;
    width: 50%;
}


/* pricing Section */
.pricing {
    width: 100%;
    background-color: #fff;
    color: #000;

}

.pricing-container {
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing-card {
    width: 27%;
    min-width: 270px;
    position: relative;
    margin: 20px 0;
    padding: 10px;
    padding-top: 21px;
    border: 2px solid transparent;
    border-radius: 21px;
    box-shadow: 0px 0px 1px #2a691d, 0px 0px 1px #2a691d;
}

.pricing-card .header {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -28%);
    background-color: #fff;
    color: #fff;
    font-size: 200px;
    font-weight: 700;
    border-radius: 50px;
    text-shadow: -1px 0 #747474, 0 1px #747474, 1px 0 #747474, 0 -1px #747474;
}

.pricing-card .title {
    padding: 15px;
    font-size: 1.3em;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
}

.pricing-card .price-amout {
    font-size: 69px;
    font-weight: 600;
    text-align: center;
    padding: 57px 0 0;
    color: #47ea4e;
}

.pricing-card .price-duration {
    color: #747474;
    font-weight: 400;
    font-size: 18PX;
    padding-left: 15%;
}

.pricing-card .feature {
    padding-top: 21px;
    list-style-type: none;
    line-height: 2.8;
}

.pricing-card .feature li {
    padding: 0 0 0 5%;
}


.pricing-card .feature li span {
    display: inline-block;
    padding-right: 15px;
}

.pricing-card .feature li span {
    color: #47ea4e;
}

.pricing-card .feature li.un-avilable,
.pricing-card li.un-avilable span {
    color: #747474;
}

.pricing-card .plan-subscribe {
    display: block;
    margin: 21px auto;
    text-align: center;
}

/* start team style */
.team {
    padding: 0 0 20px 0;
}

.team .team-card {
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
}

.team .team-card-2 {
    min-height: 700px;
    height: auto;
}

.team .team-card-1 .team-member-image,
.team-card-3 .team-member-image {
    position: relative;
    top: 0px;
    left: 10%;
}

.team .team-card-2 .team-member-desciption {
    position: relative;
    top: 0px;
    left: 25%;
    width: 500px;
    top: calc(30px + 10vh);
    padding: 71px;
    color: #000;
    background-color: #fff;
    z-index: 999;

}

.team .team-card-2 .team-member-image {
    position: absolute;
    top: 0;
    left: calc(25% + 395px);
    height: auto;
}

.team .team-card-1 .team-member-desciption,
.team-card-3 .team-member-desciption {
    position: absolute;
    top: 0;
    width: 500px;
    left: calc(10% + 395px);
    top: calc(30px + 10vh);
    padding: 71px;
    color: #000;
    background-color: #fff;
    z-index: 999;
}



.team-card .team-member-desciption .position {
    font-size: 18px;
    text-transform: uppercase;
    color: #747474;
}

.team-card .team-member-desciption .name {
    padding: 20px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.team-card .team-member-desciption .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #747474;
}

.team-card .team-member-desciption .contact-info {
    position: absolute;
    bottom: -30px;
    left: -25%;
    display: flex;
    width: 60%;
    height: 70px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #fff;
    background-color: #47ea4e;
    transition: transform 110ms linear;
    border-radius: 7px;

}

.team-card.team-card-2 .team-member-desciption .contact-info {
    right: -100%;
}

.team-member-desciption .contact-info a {
    font-size: 1.7em;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.team-member-desciption .contact-info a:hover {
    color: #000;
}

/* start skills style */
.skills {
    padding-bottom: 120px;
    background-color: #fff;
    color: #000
}

.skills-container {
    padding: 50px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-container .about-skills {
    width: 45%;
    min-width: 290px;
    padding: 0 20px;
}

.skills-container .about-skills .address,
.contact-info .contact-about .address {
    color: #747474;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 3.5;
}

.skills-container .about-skills .header {
    padding: 7px 0 21px;
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
}

.skills-container .about-skills .title {
    width: 90%;
    margin: auto;
    text-transform: capitalize;
    color: rgb(116, 116, 116);
    padding: 14px 0px;
    line-height: 1.7;
    min-width: 300px;
}

.our-skills {
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.our-skills .skills-progress {
    color: #747474;
    display: flex;
    align-items: flex-end;
    min-height: 90px;
}

.our-skills .skills-progress>p {
    font-size: 2.8em;
    font-weight: 400;
    color: #747474;
}

.our-skills .skills-progress .skill-name {
    width: 210px;
}

.our-skills .skills-progress .range {
    display: flex;
    flex-direction: column;
    width: 100%
}

.our-skills .skills-progress .range p {
    line-height: 2.1;
    font-size: 1.4em;
    text-transform: capitalize;
}

.our-skills .skills-progress .percentage {
    position: relative;
    width: 100%;
    height: 14px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    box-shadow: rgb(204, 219, 232) 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.897) -1px -1px 2px inset;
}

.our-skills .skills-progress .percentage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    background-color: #000;
    border-radius: 3px;
}

.our-skills .progress-val-90 .percentage::after {
    width: 90%;
}


.our-skills .progress-val-85 .percentage::after {
    width: 85%;
}


.our-skills .progress-val-75 .percentage::after {
    width: 75%;
}


.our-skills .progress-val-65 .percentage::after {
    width: 65%;
}


.our-skills .progress-val-45 .percentage::after {
    width: 45%;
}

/* milestones section */
.milestones-container {
    width: 80%;
    padding: 55px 0;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.milestones-card {
    padding: 21px;
    /* text-align: center; */
    border: 1px solid #333;
    width: 477px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.milestones-card:nth-of-type(1) {
    border-top-color: transparent;
    border-left-color: transparent;
}

.milestones-card:nth-of-type(2) {
    border-top-color: transparent;
    border-right-color: transparent;
}

.milestones-card:nth-of-type(3) {
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.milestones-card:nth-of-type(4) {
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.milestones-card .milestones-number {
    min-width: 40%;
    /* padding: 14px 14px 14px 0; */
    font-size: 70px;
    color: #000;
    font-weight: 700;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #fffbd5, 0 -1px #ffffff;
}

.milestones-about .milestones-address {
    padding: 21px 0;
    font-size: 22px;
    line-height: 1.3;
}

.milestones-card .milestones-title {
    line-height: 1.8;
    color: #747474;
}

/* contact */
.contact {
    color: #000;
    background-color: #fff;
}

.contact .contact-info {
    padding: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info .contact-about {
    width: 45%;
}

.contact-info .contact-about .contact-header {
    padding: 21px 0;
    margin: 0 0 21px 0;
    width: 75%;
    font-size: 60px;
    line-height: 1.2em;
}

.contact-info .contact-about .contact-title {
    width: 95%;
    font-size: 18px;
    padding: 14px 0;
    line-height: 1.9;
    color: #747474;
}

.contact-info .contact-about .contact-social-media {
    width: 270px;
    margin: 21px 0;
    padding: 21px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.contact-info .contact-about .contact-social-media a {
    color: inherit;
    text-decoration: none;
    font-size: 27px;
    font-weight: 700;
}

.contact-info .contact-about .contact-social-media a:hover {
    color: #47ea4e;
}

.contact-info .contact-email {
    width: 45%;
}

.contact-email form label {
    display: block;
    width: 70%;
    margin: 14px auto;
    padding: 14px;
    position: relative;

}

.contact-email form label.label-input:after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
}

.contact-email form input,
.contact-email form textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 14px 0px;
    border-color: transparent;
    outline-color: transparent;
    font-family: inherit;
    font-size: 1.2em;

}

.contact button {
    width: 100%;
}

/* .contact-email form input:focus, .contact-email form textarea:focus {
    border: 3px solid transparent; 
    border-bottom-color: #333!important;
    border-color: transparent;
    outline-color: transparent;
} */
.contact form input::placeholder,
.contact form textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    font-size: 1.2em;
    opacity: 1;
    /* Firefox */
}

.contact form input:-ms-input-placeholder,
.contact form text:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

.contact form input::-ms-input-placeholder,
.contact form textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

.contact .location {
    width: 80%;
    min-width: 280px;
    padding: 35px 0 55px;
    margin: 21px auto;
}

.contact .location iframe {
    width: 100%;
}


/* Media Query */
@media only screen and (max-width: 1150px) {
    .milestones-container {
        width: 97%;
    }
}

@media only screen and (max-width: 1020px) {

    /* home-section */
    .home-section .slide-wrapper h1 {
        font-size: 60px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .content-wrapper .service-holder {
        width: 50%;
        max-width: 300px;
        min-width: 290px;
        margin: auto;
    }

    .sections-header {
        width: 250px;
    }

    /* about */
    .about-content-wrapper {
        padding-right: 30px;
        padding-left: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .about-content {
        width: 100%;
        text-align: center;
        padding: 40px 20px;
    }

    .about .about-header {
        font-size: 40px;
    }

    .about img {
        max-width: 100%;
    }

    .news .content-wrapper {
        flex-direction: column;
    }

    .news .content-wrapper .card {
        width: 100%;
        max-width: 450px;
        padding: 40px 0;
    }

    .news .content-wrapper .card-img {
        height: auto;
    }

    .news .card-img img {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .news .card-img:hover img {
        height: auto;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    /* portfolio */
    .portfolio {
        height: auto!important;
    }
    .portfolio-switch {
        padding: 0;
    }
    .portfolio-content-wrapper {
        flex-direction: column;
        height: auto;

    }

    .portfolio-card {
        width: 100%;
        height: 100%;
    }

    .portfolio-card:not(.special-portfolio-card),
    .special-portfolio-card .portfolio-card {
        max-height: 900px;
        height: auto;
        overflow: hidden;
        /* margin: -4px; */
    }

    /* pricing */
    .pricing-container {
        flex-direction: column;
    }

    .pricing-container .pricing-card {
        width: 70%;
        margin-bottom: 52px
    }

    .pricing-container .pricing-card .feature li {
        padding-left: 15%;
    }

    /* Team */
    .team .team-card {
        position: initial;
        width: 90%;
        max-width: 500px;
        min-width: 290px;
        margin: auto;
    }

    .team .team-card .team-member-image,
    .team .team-card .team-member-desciption {
        width: 100%;
        position: initial;
        padding: 20px 0 0 0;
        margin: -5px;
    }

    .team-card .position,
    .team-card .team-member-desciption .name,
    .team-card .title {
        padding: 10px 10%;
    }

    .team-card .title {
        padding-bottom: 21px;
        margin-bottom: 21px;
    }

    .team .team-card .team-member-image img {
        width: 100%;
    }

    .team-card .team-member-desciption .contact-info {
        position: initial;
        width: 100%;
        border-radius: 0;
    }

    /* milestones */
    .milestones-card {
        flex-direction: column;
    }

    /* conatct */
    .contact .contact-info {
        padding: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }


    .contact-info .contact-about .contact-header {
        font-size: 40px;
    }

    .contact-info .contact-email,
    .contact-info .contact-about {
        width: 95%;
    }

    .contact-info .contact-about .contact-social-media {
        margin: 21px auto;
    }

}

@media only screen and (max-width: 996px) {

    /* about section */
    .about-our-team {
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .carousel-card {
        padding: 40px;
    }

    /* portfolio */
    .portfolio-dynamic-data {
        width: 95%;
        min-width: 290px;
    }

    .portfolio-dynamic-data .data-container-50 p {
        width: 94%;
        margin: 15px 0;
        /* text-align: center; */
    }
    .portfolio-dynamic-data .data-container-50 img {
        width: 100%;
    }

    /* skills section */
    .skills-container {
        flex-direction: column;
    }

    .skills-container .about-skills {
        width: 90%;
        text-align: center;
        padding: 21px 0;
        margin: 35px 0;
    }

    .skills-container .about-skills .address {
        padding-top: 21px;
        font-size: 1.4em;
        line-height: 2.1;

    }

    .skills-container .about-skills .header {
        font-size: 2.8em;
        line-height: 1.4;
    }

    .our-skills {
        width: 90%;
        margin: auto;
        padding: 14px 0;
    }

    .our-skills .skills-progress {
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .our-skills .skills-progress>p {
        font-size: 2.1em;
        padding-top: 21px;
    }

    .our-skills .skills-progress .range p {
        text-align: center;
        line-height: 1.7;
    }

    .milestones-card {
        text-align: center;
    }

    .milestones-card:nth-of-type(1),
    .milestones-card:nth-of-type(3) {
        direction: rtl;
    }


}

@media only screen and (max-width: 760px) {
    .carousel-card-container {
        width: 95%;
    }
    .carousel-image-container {
        width: 95%;}
    .carousel-card {
        height: auto;
        padding: 15px;
        margin: 0 20%;
        /* line-height: 170%; */
    }
    .carousel-card .text, .about-card-data {
        min-width: 90%;
    }
    .carousel-card .text {
        font-size: 14px;
    }
    .about-card-data .about-card-position {
        font-size: 13px;
        letter-spacing: normal;
    }
}

@media only screen and (max-width: 627px) {
    h2,h3,h4,h5,h6 {
        font-size: 22px !important;
    }
    /* Home */
    .home-section .slide-wrapper {
        width: 100%;
        text-align: center;
    }

    .home-section .slide-wrapper h1 {
        font-size: 40px;
    }

    /* about */
    .about .about-header {
        font-size: 25px;
    }

    .carousel-card .carousel-title p {
        font-size: 1.5em;
        width: 100%;
        min-height: 200px;
        margin: 0;
        padding: 0;
    }

    .carousel-card .carousel-team-info {
        padding: 20px 0;
        margin: 20px 0px 20px 0;
    }

    /* pricing */
    .pricing-card .header {
        font-size: 130px;
    }

    /* team */
    .team-card .team-member-desciption .name {
        font-size: 22px;
    }

    .contact-email form label {
        width: 100%
    }
    .contact-email form label {
        width: 100%
    }
    .contact-email .submit-label {
        padding: 0;
        margin: 0;
    }
    #submit {
        padding: 0;
        margin: 10px 0
    }
}


@media only screen and (max-width: 371px) {

    /* section header */
    .sections-header {
        width: 200px;
    }

    .sections-header .header {
        letter-spacing: 3px;
    }

    /* h1 and button in home section  */
    .home-section .slide-wrapper {
        padding: 0;
        text-align: center;
    }

    .home-section .slide-wrapper h1 {
        font-size: normal;
    }

    .home-section .slide-wrapper button {
        display: block;
        width: 80%;
        margin: auto;
    }
    .contact-info .contact-about .contact-social-media {
        width: auto;
    }
}